# <VirtualHost *:80>
#     UseCanonicalName on
# 	DocumentRoot /dwc/bigskyleague/html
#     ServerName bigskyleague.devel
#     ServerAlias bigskyleague.devel www.bigskyleague.devel

#     SetEnv PERL5LIB /dwc/bigskyleague/g5-bin/perllib:/dwc/codelibrary/Genie5.0/g5-bin/perllib:/dwc/codelibrary:/dwc/codelibrary.dtss/WI:/dwc/codelibrary/CLFIN/global:/dwc/codelibrary/CLFIN/payments:/dwc/codelibrary/EFT/perllib
#     SetEnv G5genie 13

#     <IfModule mod_perl.c>
#         <Perl>
#             use lib "/dwc/bigskyleague/g5-bin/perllib";
#         </Perl>
#     </IfModule>

#     Alias /images /dwc/bigskyleague/images
#     Alias /templates /dwc/bigskyleague/templates
#     Alias /schemes /dwc/bigskyleague/schemes
#     Alias /g5-bin /dwc/bigskyleague/g5-bin
#     ErrorDocument 404 /dwc/codelibrary/re404.cgi
    
#     ErrorLog "/usr/local/apache2/logs/bigskyleague_error.log"
# 	TransferLog "/usr/local/apache2/logs/bigskyleague_access.log"

#     ##### USE THIS FOR MOD_PERL #####
#     # <directory /dwc/bigskyleague/g5-bin>
#     #     SetHandler perl-script
#     #     PerlResponseHandler ModPerl::Registry
#     #     PerlOptions +ParseHeaders
#     #     Options +ExecCGI
#     #     Require all granted
#     # </directory>
#     #####################

#     ##### USE THIS FOR CGI #####
#     ScriptAlias /g5-bin/ /dwc/bigskyleague/g5-bin/
#     <Directory /dwc/bigskyleague/g5-bin>
#         AddHandler cgi-script .pl .cgi
#         AllowOverride Indexes
#         Options +ExecCGI +MultiViews +SymLinksIfOwnerMatch
#         Require all granted
#     </Directory>
#     #####################

#     ProxyPass /public/ http://public.devel/ timeout=300
#     ProxyPassReverse /public/ http://public.devel/ timeout=300
    
#     <Directory "/dwc/bigskyleague/html">
#         RewriteEngine on
#         RewriteBase     /
#         RewriteRule     ^admin/*$       http://bigskyleague.devel/g5-bin/setup.cgi?G5genie=13 [L,R]
#         RewriteRule     ^/*$            http://bigskyleague.devel/g5-bin/client.cgi?G5genie=13
#         RewriteRule     ^index/*$       http://bigskyleague.devel/g5-bin/client.cgi?G5genie=13
#     </Directory>
# </VirtualHost>